.npm__react-simple-code-editor__textarea {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.code-font {
  font-family: '"Fira code", "Fira Mono", monospace';
  font-size: 0.8rem;
}

input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
